<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
</head>
<body>
  <header>
    this is my website
  </header>
  <div>
    @* this is where the actual view we returned from the action method "this time" will go. *@
    @RenderBody()
  </div>
  <footer>
    ©2020 me
  </footer>
</body>
</html>
